@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");

body {
  font-family: "Mulish", sans-serif;
}
.bg-left {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.para-color {
  color: #7d7987;
}

.h-row {
  width: 56px;
  height: 2px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
}
.bg-service {
  background-image: url(images/service-bg.png);
  background-repeat: no-repeat;
}
.border-card {
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
}

.border-rad {
  border-radius: 20px;
}
.bg-article {
  background-image: url(images/article-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
